<mat-card style="text-align: center; width: 50%;margin: auto;
                            border: 3px solid #1976d2; ">
    <form class="example-form" #f="ngForm" (ngSubmit)="onSubmit()" *ngIf="RecipeVM">
        <div>
            <mat-form-field>
                <mat-label>Recipe Title</mat-label>
                <input matInput placeholder="Ex. Pizza" name="RecipeTitle" required [(ngModel)]="RecipeVM.recipeTitle">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Level</mat-label>
                <mat-select name="LevelID" required [(ngModel)]="RecipeVM.levelID">
                    <mat-option [value]="level.levelId" *ngFor="let level of levels">{{ level.levelName }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <div *ngFor="let step of RecipeVM.steps; let i = index;let isfirst = first;">
                <div style="width: 85%;float: left;">
                    <mat-form-field>
                        <mat-label>Step {{i+1}}</mat-label>
                        <input matInput placeholder="Ex. Add Water" name="StepName_{{i}}" [(ngModel)]="step.stepName">
                    </mat-form-field>
                </div>
                <div style="width: 15%;float: left;">
                    <button type="button" mat-flat-button color="warn" (click)="removestep(i)"
                        *ngIf="!isfirst">Remove</button>
                </div>
            </div>
            <div class="clear"></div>
            <div>
                <button type="button" mat-flat-button color="primary" (click)="addstep()">Add Steps</button>
            </div>
        </div>
        <div>
            <div *ngFor="let ingr of RecipeVM.ingredients; let i = index;let isfirst = first;">
                <div style="width: 85%;float: left;">
                    <mat-form-field>
                        <mat-label>Ingredient {{i+1}}</mat-label>
                        <input matInput placeholder="Ex. Add Water" name="IngrName_{{i}}"
                            [(ngModel)]="ingr.ingredientName">
                    </mat-form-field>
                </div>
                <div style="width: 15%;float: left;">
                    <button type="button" mat-flat-button color="warn" (click)="removeIngredient(i)"
                        *ngIf="!isfirst">Remove</button>
                </div>
            </div>
            <div class="clear"></div>
            <div>
                <button type="button" mat-flat-button color="primary" (click)="addIngredient()">Add Ingredient</button>
            </div>
            <mat-grid-list cols="3" rowHeight="200px">
                <mat-grid-tile>
                    <div>
                        <div>
                            <mat-label>Image 1</mat-label>
                        </div>
                        <div>
                            <input type="file" name="file" #file placeholder="Choose file"
                                (change)="uploadFile(file.files)" style="display:none;">
                            <button type="button" mat-flat-button color="primary" (click)="file.click()">Upload
                                File</button>

                        </div>
                        <div>
                            <img src="https://localhost:44368/Uploads/{{RecipeVM.image1}}" *ngIf="RecipeVM.image1"
                                style="width: 100px; height: 100px;" />
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div>
                        <div>
                        <mat-label>Image 2</mat-label>
                    </div>
                        <div>
                        <input type="file" name="file2" #file2 placeholder="Choose file"
                            (change)="uploadFile2(file2.files)" style="display:none;">
                        <button type="button" mat-flat-button color="primary" (click)="file2.click()">Upload
                            File</button>
                            <div>
                        </div>
                        <img src="https://localhost:44368/Uploads/{{RecipeVM.image2}}" *ngIf="RecipeVM.image2"
                            style="width: 100px; height: 100px;" />
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div>
                        <div>
                        <mat-label>Image 3</mat-label>
                    </div>
                        <div>
                        <input type="file" name="file3" #file3 placeholder="Choose file"
                            (change)="uploadFile3(file3.files)" style="display:none;">
                        <button type="button" mat-flat-button color="primary" (click)="file3.click()">Upload
                            File</button>
                        </div>
                            <div>
                        <img src="https://localhost:44368/Uploads/{{RecipeVM.image3}}" *ngIf="RecipeVM.image3"
                            style="width: 100px; height: 100px;" />
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>


        </div>
        <div>
            <button mat-flat-button color="primary" [disabled]="!f.valid">Save</button>
        </div>
    </form>
</mat-card>